.container {
  width: 200px;
  text-align: left;
  border-radius: 3px;
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.501) 0px 0px 10px;
  cursor: pointer;
}

.img-container {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  background-color: gray;
}

.img-container img {
  width: 100%;
  height: 150px;
  border-radius: 3px;
  object-fit: cover;
}

.description {
  padding: 0 10px;
}

.title {
  margin: 10px 0 25px;
  font-size: 15px;
  color: blue;
}
