.container {
  float: left;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  padding: 7px;
  margin: 0 4px;
  vertical-align: top;
  white-space: nowrap;
  width: 270px;
  background-color: #ebecf0;
  border-radius: 3px;
}

.listTitleContainer {
  display: flex;
  justify-content: space-between;
}

.listTitle {
  margin: 0;
  padding: 6px 0;
  margin-left: 7px;
  text-align: left;
  font-size: 14px;
}

.listTitleMove {
  width: 20px;
  border: 3px;
  margin-right: 7px;
  cursor: grab;
}

.cardPoint {
  margin: 0 auto 7px;
  padding: 7px;
  width: 240px;
  font-size: 14px;
  color: #172b4d;
  text-decoration: none;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
}

.addCardBtn {
  background-color: initial;
  min-height: 40px;
  border: none;
  color: #5e6c84;
  padding: 6px 8px;
  transition: color 85ms ease-in;
  cursor: pointer;
}

.inputTitle {
  display: block;
  padding: 8px 12px;
  margin: 7px auto 0;
  width: 232px;
  height: 40px;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #172b4d;
  background-color: #fafbfc;
  border: none;
  border-radius: 3px;
  resize: none;
  box-shadow: inset 0 0 0 2px #dfe1e6;
}

.addCardBtnCreate {
  float: left;
  height: 32px;
  margin-top: 7px;
  min-height: 32px;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: rgb(0, 121, 191);
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.close {
  float: left;
  margin-left: 10px;
  border: none;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  color: rgb(0, 121, 191);
  background-color: initial;
}
