.description__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.description {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(113, 91, 91);
}

.description__title {
  color: black;
  font-style: italic;
}

.description__text {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.description__subtitle span {
  display: block;
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: normal;
  color: gray;
}

.team__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 700px;
  flex-direction: row;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
}

.team__photo {
  width: 220px;
  margin: 0px;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../assets/alexi.jpg');
}

.team__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 240px;
  padding: 12px 20px;
}
