.btnYes,
.btnNo {
  margin-top: 10px;
  border: none;
  height: 30px;
  width: calc(50% - 6px);
  border-radius: 3px;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s;
  cursor: pointer;
}

.btnYes {
  background-color: #4caf50;
  margin-right: 3px;
}

.btnNo {
  background-color: #af4c4c;
  margin-left: 3px;
}

.btnNo:hover,
.btnYes:hover {
  opacity: 0.9;
}
