.container {
  float: left;
  box-sizing: border-box;
  display: block;
  height: 45px;
  margin: 0 4px;
  white-space: nowrap;
  min-width: 270px;
  background-color: #d3d3d3;
  border-radius: 3px;
}

.addListBtn {
  background-color: initial;
  min-height: 40px;
  border: none;
  color: rgb(0, 0, 0);
  padding: 6px 8px;
  opacity: 1;
  transition: opacity 0.3;
  cursor: pointer;
}

.addListBtn:hover,
.addListBtn:active,
.addListBtn:focus {
  opacity: 0.8;
}

.inputTitle {
  display: block;
  padding: 8px 12px;
  margin: 7px auto;
  width: 240px;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #172b4d;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
}

.addListBtnCreate {
  float: left;
  margin-top: 25px;
  width: 100%;
  min-height: 40px;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: rgb(0, 121, 191);
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: rgb(221, 216, 216);
  opacity: 1;
  transition: opacity 0.3;
  cursor: pointer;
}

.addListBtnCreate:hover,
.addListBtnCreate:active,
.addListBtnCreate:focus {
  opacity: 0.8;
}

.messageError {
  height: 15px;
  color: #f38080;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  text-align: left;
}
