.settingPage {
  width: 400px;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 400px;
  margin: 0 auto 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 3px;
  margin: 0 0 10px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.title {
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.form button,
.btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 50%;
  border: 0;
  border-radius: 3px;
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

.form button:disabled {
  background-color: #7fa680;
  cursor: not-allowed;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}

.messageError {
  margin: 15px 0 0;
  color: #f38080;
  font-size: 14px;
}

.form .message a {
  color: #4caf50;
  text-decoration: none;
}
